$gray: #999;
$darkgray: #777;
$darkergray: #555;
$darkestgray: #333;
$lightgray: #AAA;
$lightergray: #CCC;
$lightestgray: #EEE;
$maroon: #a00405;
$green: #337321;


// PLACEHOLDER
%nospace {
	padding: 0px;
	margin: 0px auto;
}



// MIXIN
@mixin clearspace() {
	padding: 0px;
	margin: 0px;
}
@mixin shadow($depth: 0 0 10px 1px, $alpha: 0.2) {
	box-shadow: $depth rgba(#000, $alpha);
	-o-box-shadow: $depth rgba(#000, $alpha);
	-ms-box-shadow: $depth rgba(#000, $alpha);
	-moz-box-shadow: $depth rgba(#000, $alpha);
	-webkit-box-shadow: $depth rgba(#000, $alpha);
}
@mixin round($radius: 10px) {
	border-radius: $radius;
	-o-border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}
@mixin transition($duration: 300ms) {
	transition: all $duration ease;
	-o-transition: all $duration ease;
	-ms-transition: all $duration ease;
	-moz-transition: all $duration ease;
	-webkit-transition: all $duration ease;
}