@import 'properties.scss';


.mi-slider {
	position: relative;
	height: 410px;
	border-bottom: solid 5px $maroon + 65;
	background: $maroon - 50;
	ul {
		list-style-type: none;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 50px;
		overflow: hidden;
		text-align: center;
		pointer-events: none;
		padding: 0px;
		li {
			display: inline-block;
			padding: 5px;
			width: 20%;
			max-width: 300px;
			transform: translateX(600%);
			-o-transform: translateX(600%);
			-ms-transform: translateX(600%);
			-moz-transform: translateX(600%);
			-webkit-transform: translateX(600%);
			transition: opacity 0.2s linear;
			-o-transition: opacity 0.2s linear;
			-ms-transition: opacity 0.2s linear;
			-moz-transition: opacity 0.2s linear;
			-webkit-transition: opacity 0.2s linear;
			a {
				@include transition();
				display: block;
				margin: 0 auto;
				outline: none;
				cursor: pointer;
				color: #FFF;
			}
			img {
				@include transition();
				display: block;
				margin: 0 auto;
				max-width: 100%;
				border: solid 8px #FFF;
			}
			h4 {
				display: inline-block;
				padding-top: 20px;
			}
			&:hover {
				img {
					border-color: #F90;
					transform: rotateX(20deg);
					-o-transform: rotateX(20deg);
					-ms-transform: rotateX(20deg);
					-moz-transform: rotateX(20deg);
					-webkit-transform: rotateX(20deg);
				}
				a { color: #F90; }
			}
		}
		&.mi-current { pointer-events: auto; }
	}
	nav {
		position: relative;
		top: 0px;
		text-align: center;
		margin: 0 auto;
		border-top: 5px solid $maroon + 65;
		a {
			@include transition();
			display: inline-block;
			padding: 40px 20px;
			position: relative;
			color: $green + 50;
			font-weight: 600;
			outline: none;
			&:hover { color: #FFF; }
			&.mi-selected {
				color: $green + 130;
				&:after {
					content: '';
					position: absolute;
					top: -5px;
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border: solid transparent;
					border-color: transparent;
					border-top-color: $lightergray - 50;
					border-width: 20px;
					left: 50%;
					margin-left: -20px;
				}
				&:before {
					content: '';
					position: absolute;
					top: -5px;
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border: solid transparent;
					border-color: transparent;
					border-top-color: $maroon + 65;
					border-width: 27px;
					left: 50%;
					margin-left: -27px;
				}
			}
		}
	}
}



.no-js {
	.mi-slider {
		ul {
			position: relative;
			left: auto;
			bottom: auto;
			margin: 0;
			overflow: visible;
			li {
				-webkit-transform: translateX(0);
				transform: translateX(0);
			}
		}
	}
	nav {
		display: none;
	}
}





/*** MOVE CLASSES & ANIMATIONS ***/
.mi-slider ul:first-child li,
.no-js .mi-slider ul li {
	-webkit-animation: scaleUp 350ms ease-in-out both;
	-moz-animation: scaleUp 350ms ease-in-out both;
	-ms-animation: scaleUp 350ms ease-in-out both;
	-o-animation: scaleUp 350ms ease-in-out both;
	animation: scaleUp 350ms ease-in-out both;
}
@-webkit-keyframes scaleUp {
	0% { -webkit-transform: translateX(0) scale(0); }
	100% { -webkit-transform: translateX(0) scale(1); }
}
@keyframes scaleUp {
	0% { -webkit-transform: translateX(0) scale(0); transform: translateX(0) scale(0); }
	100% { -webkit-transform: translateX(0) scale(1); transform: translateX(0) scale(1); }
}
.mi-slider ul:first-child li:first-child {
	-webkit-animation-delay: 90ms;
	-moz-animation-delay: 90ms;
	-ms-animation-delay: 90ms;
	-o-animation-delay: 90ms;
	animation-delay: 90ms;
}
.mi-slider ul:first-child li:nth-child(2) {
	-webkit-animation-delay: 180ms;
	-moz-animation-delay: 180ms;
	-ms-animation-delay: 180ms;
	-o-animation-delay: 180ms;
	animation-delay: 180ms;
}
.mi-slider ul:first-child li:nth-child(3) {
	-webkit-animation-delay: 270ms;
	-moz-animation-delay: 270ms;
	-ms-animation-delay: 270ms;
	-o-animation-delay: 270ms;
	animation-delay: 270ms;
}
.mi-slider ul:first-child li:nth-child(4) {
	-webkit-animation-delay: 360ms;
	-moz-animation-delay: 360ms;
	-ms-animation-delay: 360ms;
	-o-animation-delay: 360ms;
	animation-delay: 360ms;
}
/* moveFromRight */
.mi-slider ul.mi-moveFromRight li {
	-webkit-animation: moveFromRight 350ms ease-in-out both;
	-moz-animation: moveFromRight 350ms ease-in-out both;
	-ms-animation: moveFromRight 350ms ease-in-out both;
	-o-animation: moveFromRight 350ms ease-in-out both;
	animation: moveFromRight 350ms ease-in-out both;
}
/* moveFromLeft */
.mi-slider ul.mi-moveFromLeft li {
	-webkit-animation: moveFromLeft 350ms ease-in-out both;
	-moz-animation: moveFromLeft 350ms ease-in-out both;
	-ms-animation: moveFromLeft 350ms ease-in-out both;
	-o-animation: moveFromLeft 350ms ease-in-out both;
	animation: moveFromLeft 350ms ease-in-out both;
}
/* moveToRight */
.mi-slider ul.mi-moveToRight li {
	-webkit-animation: moveToRight 350ms ease-in-out both;
	-moz-animation: moveToRight 350ms ease-in-out both;
	-ms-animation: moveToRight 350ms ease-in-out both;
	-o-animation: moveToRight 350ms ease-in-out both;
	animation: moveToRight 350ms ease-in-out both;
}
/* moveToLeft */
.mi-slider ul.mi-moveToLeft li {
	-webkit-animation: moveToLeft 350ms ease-in-out both;
	-moz-animation: moveToLeft 350ms ease-in-out both;
	-ms-animation: moveToLeft 350ms ease-in-out both;
	-o-animation: moveToLeft 350ms ease-in-out both;
	animation: moveToLeft 350ms ease-in-out both;
}
/* Animation Delays */
.mi-slider ul.mi-moveToLeft li:first-child,
.mi-slider ul.mi-moveFromRight li:first-child,
.mi-slider ul.mi-moveToRight li:nth-child(4),
.mi-slider ul.mi-moveFromLeft li:nth-child(4) {
	-webkit-animation-delay: 0ms;
	-moz-animation-delay: 0ms;
	-ms-animation-delay: 0ms;
	-o-animation-delay: 0ms;
	animation-delay: 0ms;
}
.mi-slider ul.mi-moveToLeft li:nth-child(2),
.mi-slider ul.mi-moveFromRight li:nth-child(2),
.mi-slider ul.mi-moveToRight li:nth-child(3),
.mi-slider ul.mi-moveFromLeft li:nth-child(3) {
	-webkit-animation-delay: 90ms;
	-moz-animation-delay: 90ms;
	-ms-animation-delay: 90ms;
	-o-animation-delay: 90ms;
	animation-delay: 90ms;
}
.mi-slider ul.mi-moveToLeft li:nth-child(3),
.mi-slider ul.mi-moveFromRight li:nth-child(3),
.mi-slider ul.mi-moveToRight li:nth-child(2),
.mi-slider ul.mi-moveFromLeft li:nth-child(2) {
	-webkit-animation-delay: 180ms;
	-moz-animation-delay: 180ms;
	-ms-animation-delay: 180ms;
	-o-animation-delay: 180ms;
	animation-delay: 180ms;
}
.mi-slider ul.mi-moveToLeft li:nth-child(4),
.mi-slider ul.mi-moveFromRight li:nth-child(4),
.mi-slider ul.mi-moveToRight li:first-child,
.mi-slider ul.mi-moveFromLeft li:first-child  {
	-webkit-animation-delay: 270ms;
	-moz-animation-delay: 270ms;
	-ms-animation-delay: 270ms;
	-o-animation-delay: 270ms;
	animation-delay: 270ms;
}
/* Animations */
@-webkit-keyframes moveFromRight {
	0% { -webkit-transform: translateX(600%); }
	100% { -webkit-transform: translateX(0%); }
}
@-webkit-keyframes moveFromLeft {
	0% { -webkit-transform: translateX(-600%); }
	100% { -webkit-transform: translateX(0%); }
}
@-webkit-keyframes moveToRight {
	0% { -webkit-transform: translateX(0%); }
	100% { -webkit-transform: translateX(600%); }
}
@-webkit-keyframes moveToLeft {
	0% { -webkit-transform: translateX(0%); }
	100% { -webkit-transform: translateX(-600%); }
}
@keyframes moveFromRight {
	0% { -webkit-transform: translateX(600%); transform: translateX(600%); }
	100% { -webkit-transform: translateX(0); transform: translateX(0); }
}
@keyframes moveFromLeft {
	0% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
	100% { -webkit-transform: translateX(0); transform: translateX(0); }
}
@keyframes moveToRight {
	0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
	100% { -webkit-transform: translateX(600%); transform: translateX(600%); }
}
@keyframes moveToLeft {
	0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
	100% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
}
.mi-slider {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}




// MEDIA QUERY
@media (min-width: 1200px) { // LG

}
@media (min-width: 992px) and (max-width: 1199px) { // MD
	.mi-slider {
		height: 350px;
		ul { bottom: 40px; }
	}
	.mi-slider nav {
		a { padding: 40px 15px; }
	}
}
@media (min-width: 768px) and (max-width: 991px) { // SM
	.mi-slider {
		height: 320px;
		ul { bottom: 30px; }
	}
	.mi-slider nav {
		a { padding: 40px 15px; }
	}
}
@media (max-width: 767px) { // XS
	
}